<!DOCTYPE html>
<html>
	<head>
	</head>
	<title>
		Registrar
	</title>
	<body>
		<div class="container" ng-controller="conexionCtrl">
			<h1>Registrar</h1>
			<form method="POST">
			  <div class="form-group">
			    <label for="exampleInputEmail1">Nombre</label>
			    <input ng-model="nombre" type="name" name="nombre" class="form-control" id="exampleInputEmail1" placeholder="Nombre">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Contraseña</label>
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name="pass" ng-model="pass">
			  </div>
			  <button type="submit" ng-click="enviar()" class="btn btn-default">Submit</button>
			</form>
		</div>
	</body>
</html>